 <link href="css/login.css" rel="stylesheet">


<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                
            </form>

                    
                        <a href="search.html"><i class="fa fa-fw fa-user"></i> LOGIN</a>
                    



            </div>
        </div>
        
</div>

<script src="js/login.js"></script>
