 <!DOCTYPE html>
 <link href="../static/css/login.css" type ="text/css" rel="stylesheet" >


<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form id="creds" action="/search" method="">

                    <input name="user"  type="text" placeholder="username">
                    <input type="password" placeholder="password">

                </form>
                <button type="submit" form="creds" value="Submit">Submit</button>
            </div>
        </div>        
</div>

<script src="../static/js/login.js"></script>
